DATABASE_URL=postgresql+asyncpg://ustbite_user:CHANGE_ME@ustbite-payment-service-postgres.ustbite-data.svc.cluster.local:5432/ustbite_payments_db
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
SERVICE_NAME=ustbite-payment-service
SERVICE_PORT=8004
LOG_LEVEL=INFO
SECRET_KEY=changeme
RAZORPAY_KEY_ID=rzp_test_REPLACE_ME
RAZORPAY_KEY_SECRET=REPLACE_ME